@import 'tailwindcss/base';
@import 'tailwindcss/components';

body {
    @apply font-roboto;
}

input:focus-within ~ label, input:not(:placeholder-shown) ~ label, label:focus-within ~ label {
    @apply transform scale-75 -translate-y-6 text-blue-500;
}

input:focus-within ~ label {
  @apply text-blue-500;
}

span:hover ~ div {
  @apply block;
}

.MuiCircularProgress-root {
  @apply text-white;
}

@import 'tailwindcss/utilities';